In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [39]:
import sys
sys.path.insert(0, "../")
from eff_calc import efficiencyFormatter

In [40]:
games = pd.read_csv('../data/games.csv')
games

,id,season,week,season_type,start_date,start_time_tbd,neutral_site,conference_game,attendance,venue_id,...,home_post_win_prob,away_id,away_team,away_conference,away_points,away_line_scores,away_post_win_prob,excitement_index,highlights,notes
0,332410135,2013,1,regular,2013-08-29T23:00:00.000Z,NaN,False,False,44217.0,3953.0,...,0.448322,2439,UNLV,Mountain West,23.0,"[6, 7, 3, 7]",0.551678,5.598996,NaN,NaN
1,332410084,2013,1,regular,2013-08-29T23:00:00.000Z,NaN,False,False,40278.0,3830.0,...,0.999811,282,Indiana State,NaN,35.0,"[7, 14, 7, 7]",0.000189,2.046742,NaN,NaN
2,332420127,2013,1,regular,2013-08-31T00:00:00.000Z,NaN,False,False,71214.0,3936.0,...,0.962311,2711,Western Michigan,Mid-American,13.0,"[0, 7, 0, 6]",0.037689,4.867190,NaN,NaN
3,332432132,2013,1,regular,2013-08-31T16:00:00.000Z,NaN,False,False,36007.0,3854.0,...,0.995635,2509,Purdue,Big Ten,7.0,"[0, 7, 0, 0]",0.004365,2.774517,NaN,NaN
4,332430275,2013,1,regular,2013-08-31T16:00:00.000Z,NaN,False,False,76306.0,347.0,...,0.981694,113,UMass,Mid-American,0.0,"[0, 0, 0, 0]",0.018306,1.924321,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
897,401282794,2021,13,regular,2021-11-27T05:00:00.000Z,1.0,False,True,NaN,3953.0,...,NaN,275,Wisconsin,Big Ten,NaN,NaN,NaN,NaN,NaN,NaN
898,401282785,2021,13,regular,2021-11-27T05:00:00.000Z,1.0,False,True,NaN,3936.0,...,NaN,213,Penn State,Big Ten,NaN,NaN,NaN,NaN,NaN,NaN
899,401282766,2021,13,regular,2021-11-27T05:00:00.000Z,1.0,False,True,NaN,6577.0,...,NaN,120,Maryland,Big Ten,NaN,NaN,NaN,NaN,NaN,NaN
900,401282753,2021,13,regular,2021-11-27T05:00:00.000Z,1.0,False,True,NaN,3907.0,...,NaN,84,Indiana,Big Ten,NaN,NaN,NaN,NaN,NaN,NaN
901,401282781,2021,13,regular,2021-11-27T17:00:00.000Z,0.0,False,True,NaN,3558.0,...,NaN,194,Ohio State,Big Ten,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
games_data = pd.read_csv("../data/game_stats.csv")
games_data

,id,home.rushingTDs,home.passingTDs,home.kickReturnYards,home.kickReturnTDs,home.kickReturns,home.kickingPoints,home.interceptionYards,home.interceptionTDs,home.passesIntercepted,...,away.yardsPerRushAttempt,away.totalPenaltiesYards,away.turnovers,away.fumblesLost,away.interceptions,away.possessionTime,home.puntReturnYards,home.puntReturnTDs,home.puntReturns,away.kickingPoints
0,401012867,0,1,13.0,0.0,1.0,11.0,13.0,0.0,1.0,...,3.0,6-46,2,1,1,19:05,NaN,NaN,NaN,NaN
1,401012810,4,3,14.0,0.0,1.0,7.0,32.0,0.0,3.0,...,5.8,3-25,5,2,3,22:08,15.0,0.0,1.0,8.0
2,401012884,0,1,28.0,0.0,2.0,1.0,NaN,NaN,NaN,...,3.5,9-99,2,2,0,40:58,17.0,0.0,2.0,3.0
3,401012857,3,1,19.0,0.0,1.0,4.0,1.0,0.0,1.0,...,4.8,3-40,1,0,1,26:02,10.0,0.0,3.0,9.0
4,401013332,4,3,32.0,0.0,2.0,9.0,0.0,0.0,1.0,...,3.5,8-80,1,0,1,30:58,NaN,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
840,333340084,2,6,126.0,0.0,5.0,8.0,NaN,NaN,NaN,...,1.9,6-46,0,0,0,25:44,NaN,NaN,NaN,6.0
841,333410127,1,3,69.0,0.0,3.0,10.0,NaN,NaN,NaN,...,6.8,5-62,0,0,0,26:46,16.0,0.0,1.0,6.0
842,400547960,4,1,33.0,0.0,2.0,6.0,17.0,0.0,1.0,...,2.5,6-28,3,2,1,29:51,57.0,1.0,5.0,2.0
843,400547993,0,5,155.0,0.0,7.0,8.0,9.0,0.0,1.0,...,5.0,8-78,1,0,1,33:17,5.0,0.0,3.0,11.0
844,400547952,3,3,NaN,NaN,NaN,9.0,19.0,0.0,3.0,...,0.9,7-64,3,0,3,21:55,11.0,0.0,2.0,1.0

In [42]:
data = games.merge(games_data, right_on = 'id', left_on = 'id')
data

,id,season,week,season_type,start_date,start_time_tbd,neutral_site,conference_game,attendance,venue_id,...,away.yardsPerRushAttempt,away.totalPenaltiesYards,away.turnovers,away.fumblesLost,away.interceptions,away.possessionTime,home.puntReturnYards,home.puntReturnTDs,home.puntReturns,away.kickingPoints
0,332410135,2013,1,regular,2013-08-29T23:00:00.000Z,NaN,False,False,44217.0,3953.0,...,5.7,1-15,2,0,2,31:56,15.0,0.0,1.0,5.0
1,332410084,2013,1,regular,2013-08-29T23:00:00.000Z,NaN,False,False,40278.0,3830.0,...,3.4,7-83,2,1,1,27:42,90.0,1.0,4.0,5.0
2,332420127,2013,1,regular,2013-08-31T00:00:00.000Z,NaN,False,False,71214.0,3936.0,...,0.4,7-65,4,1,3,26:36,52.0,0.0,5.0,1.0
3,332432132,2013,1,regular,2013-08-31T16:00:00.000Z,NaN,False,False,36007.0,3854.0,...,3.0,7-40,4,2,2,26:12,-2.0,0.0,4.0,1.0
4,332430275,2013,1,regular,2013-08-31T16:00:00.000Z,NaN,False,False,76306.0,347.0,...,3.4,8-50,2,1,1,27:00,0.0,0.0,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
840,401282765,2021,4,regular,2021-09-25T19:30:00.000Z,0.0,False,False,NaN,3665.0,...,3.2,9-84,1,1,0,33:59,12.0,0.0,1.0,10.0
841,401282775,2021,4,regular,2021-09-25T19:30:00.000Z,0.0,False,True,NaN,3558.0,...,4.7,7-41,1,1,0,32:37,29.0,0.0,1.0,7.0
842,401282784,2021,4,regular,2021-09-25T23:00:00.000Z,0.0,False,True,NaN,3936.0,...,3.9,7-50,2,1,1,37:14,62.0,1.0,1.0,8.0
843,401282811,2021,4,regular,2021-09-25T23:30:00.000Z,0.0,False,False,NaN,3861.0,...,1.9,4-18,2,0,2,36:24,-1.0,0.0,2.0,1.0
844,401282214,2021,4,regular,2021-09-26T00:00:00.000Z,0.0,False,False,NaN,3796.0,...,3.4,4-20,0,0,0,38:34,NaN,NaN,NaN,15.0

In [43]:
data['Home_Offensive_TDs'] = data['home.rushingTDs'] + data['home.passingTDs']
data['Away_Offensive_TDs'] = data['away.rushingTDs'] + data['away.passingTDs']

In [48]:
data = efficiencyFormatter(data)

In [59]:
new_data = data[['season', 'week', 'home_team', 'away_team', 'home.totalYards', 'away.totalYards', 'away.possessionTime', 'home.possessionTime', 'Home_Offensive_TDs', 'Away_Offensive_TDs', 'home.turnovers', 'away.turnovers', 'home.thirdDownEff', 'home.fourthDownEff', 'away.thirdDownEff', 'away.fourthDownEff', 'away_points', 'home_points']].dropna()

In [60]:
for i in new_data['home.possessionTime']:
    m, s = i.split(":")
    new_data['Home_possession_time'] = int(m) * 60 + int(s)
for j in new_data['away.possessionTime']:
    m, s = j.split(":")
    new_data['Away_possession_time'] = int(m) * 60 + int(s)

In [61]:
clean_data = new_data[['season', 'week', 'home_team', 'away_team', 'home.totalYards', 'away.totalYards', 'Home_possession_time', 'Away_possession_time','Home_Offensive_TDs', 'Away_Offensive_TDs', 'home.turnovers', 'away.turnovers', 'home.thirdDownEff', 'home.fourthDownEff', 'away.thirdDownEff', 'away.fourthDownEff', 'home_points', 'away_points']].dropna()

In [62]:
clean_data

,season,week,home_team,away_team,home.totalYards,away.totalYards,Home_possession_time,Away_possession_time,Home_Offensive_TDs,Away_Offensive_TDs,home.turnovers,away.turnovers,home.thirdDownEff,home.fourthDownEff,away.thirdDownEff,away.fourthDownEff,home_points,away_points
0,2013,1,Minnesota,UNLV,320,419,1286,2314,4,3.0,1,2,0.571429,1,0.4,0.4,51.0,23.0
1,2013,1,Indiana,Indiana State,632,306,1286,2314,9,3.0,3,2,0.5,0.5,0.1875,0.1875,73.0,35.0
2,2013,1,Michigan State,Western Michigan,297,204,1286,2314,1,2.0,1,4,0.263158,0,0.2,0.2,26.0,13.0
3,2013,1,Cincinnati,Purdue,425,226,1286,2314,5,1.0,3,4,0.6,0.75,0.333333,0.333333,42.0,7.0
4,2013,1,Wisconsin,UMass,598,212,1286,2314,6,0.0,1,2,0.727273,0,0.428571,0.428571,45.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
840,2021,4,Maryland,Kent State,528,458,1286,2314,5,1.0,2,1,0.363636,0.5,0.25,0.25,37.0,16.0
841,2021,4,Michigan,Rutgers,275,352,1286,2314,2,1.0,0,1,0.363636,0,0.4375,0.4375,20.0,13.0
842,2021,4,Michigan State,Nebraska,254,444,1286,2314,1,2.0,1,2,0.1,0,0.368421,0.368421,23.0,20.0
843,2021,4,Ohio State,Akron,622,229,1286,2314,7,1.0,1,2,0.727273,0,0.277778,0.277778,59.0,7.0
844,2021,4,Western Kentucky,Indiana,458,507,1286,2314,4,3.0,0,0,0.4,0.5,0.611111,0.611111,31.0,33.0

In [63]:
clean_data.to_csv('../data/clean_game_data.csv')

In [64]:
new = pd.read_csv("../data/clean_game_data.csv")